---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Python from "./icons/Python.astro"
import Laravel from "./icons/Laravel.astro"
import Php from "./icons/Php.astro"


const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PYTHON: {
    name: "Python",
    class: "bg-yellow-500 text-white", // Puedes cambiar los colores aquí
    icon: Python,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-red-600 text-white", // Color para representar Laravel
    icon: Laravel,
  },
  PHP: {
    name: "Php",
    class: "bg-purple-500 text-white", // Color para representar Php
    icon: Php,
  },
}
const PROJECTS = [
  {
    title: "Mapa de calor de redes Wifi con Python",
    description:
      "Programa donde se puede exportar planos de infrestuctura y colocar los AP para ver de forma más gráfica hasta donde llega el Wifi que se tiene.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/svgl.webp",
    tags: [TAGS.PYTHON],
  },
  {
    title: "Sistema de inventario para el FabLab",
    description:
      "Es un sistema que se utiliza para administrar los insumos que se tienen en el FabLab, generar reportes y revisar los datos en tiempo real. Se utilizaron las tecnologías de Laravel, Tailwind, Php y el framework de Php, llamado Filament Php.",
    link: "https://adventjs.dev",
    image: "/projects/adventjs.webp",
    tags: [TAGS.LARAVEL, TAGS.TAILWIND, TAGS.PHP],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
    </div>
  </div>
</article>
    ))
  }
</div>



